<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="SalesforceClientId" value="?" />
    <add key="SalesforceUsername" value="?" />
    <add key="SalesforcePassword" value="?" />
    <add key="SalesforceSecurityToken" value="" />
    <add key="SalesforceEndpoint" value="https://login.salesforce.com/services/oauth2/token" />
    <add key="SalesforceSecret" value="" />    

  </appSettings>
</configuration>